
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}

.alert > span{
  box-sizing:border-box;
  position: relative;
	float: none;
	border: none; 	
  border-radius: 0;
  background: none;
  font-size: inherit;
}
.close-btn > span{
  box-sizing:border-box;
  position: relative;
	float: none;
	border: none; 	
  border-radius: 0;
  background: none;
  font-size: inherit;
}
.alert{
  z-index:5;
  background: lightgreen;
  padding: 20px 40px;
  min-width: 420px;
  position: absolute;
  right: 0;
  top: 10px;
  border-radius: 4px;
  border-left: 8px solid darkgreen;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}
.exclamation{
  z-index:2;
  background: #f25e3d;
  padding: 20px 40px;
  min-width: 420px;
  position: absolute;
  right: 0;
  top: 10px;
  border-radius: 4px;
  border-left: 8px solid red;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}
.alert.showAlert{
  opacity: 1;
  pointer-events: auto;
}
.alert.show{
  animation: show_slide 1s ease forwards;
}
@keyframes show_slide {
  0%{
    transform: translateX(100%);
  }
  40%{
    transform: translateX(-10%);
  }
  80%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-10px);
  }
}
.alert.hide{
  animation: hide_slide 1s ease forwards;

  
}
@keyframes hide_slide {
  0%{
    transform: translateX(-10px);
  }
  40%{
    transform: translateX(0%);
  }
  80%{
    transform: translateX(-10%);
  }
  100%{
    transform: translateX(100%);
  }
}
.alert .fa-check-circle{
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  color: darkgreen;
  font-size: 30px;
}
.alert .fa-exclamation-circle{
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    font-size: 30px;
}
.alert .msg{
  padding: 0 20px;
  font-size: 18px;
  color: black;
}
.alert .close-btn{
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: rgb(131, 224, 131);
  padding: 20px 18px;
  cursor: pointer;
}
.alert .close-exclamation-btn{
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: #f75e5e;
  padding: 20px 18px;
  cursor: pointer;
}
.alert .close-btn:hover{
  background: rgb(109, 197, 109)
}
.alert .close-exclamation-btn:hover{
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: rgb(141, 3, 3);
  padding: 20px 18px;
  cursor: pointer;
}
.alert .close-btn .fas{
  color: black;
  font-size: 22px;
  line-height: 40px;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}

.alert > span{
  box-sizing:border-box;
  position: relative;
	float: none;
	border: none; 	
  border-radius: 0;
  background: none;
  font-size: inherit;
}
.close-btn > span{
  box-sizing:border-box;
  position: relative;
	float: none;
	border: none; 	
  border-radius: 0;
  background: none;
  font-size: inherit;
}
.alert{
  z-index:5;
  background: lightgreen;
  padding: 20px 40px;
  min-width: 420px;
  position: absolute;
  right: 0;
  top: 10px;
  border-radius: 4px;
  border-left: 8px solid darkgreen;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}
.exclamation{
  z-index:2;
  background: #f25e3d;
  padding: 20px 40px;
  min-width: 420px;
  position: absolute;
  right: 0;
  top: 10px;
  border-radius: 4px;
  border-left: 8px solid red;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}
.alert.showAlert{
  opacity: 1;
  pointer-events: auto;
}
.alert.show{
  animation: show_slide 1s ease forwards;
}
@keyframes show_slide {
  0%{
    transform: translateX(100%);
  }
  40%{
    transform: translateX(-10%);
  }
  80%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-10px);
  }
}
.alert.hide{
  animation: hide_slide 1s ease forwards;

  
}
@keyframes hide_slide {
  0%{
    transform: translateX(-10px);
  }
  40%{
    transform: translateX(0%);
  }
  80%{
    transform: translateX(-10%);
  }
  100%{
    transform: translateX(100%);
  }
}
.alert .fa-check-circle{
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  color: darkgreen;
  font-size: 30px;
}
.alert .fa-exclamation-circle{
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    font-size: 30px;
}
.alert .msg{
  padding: 0 20px;
  font-size: 18px;
  color: black;
}
.alert .close-btn{
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: rgb(131, 224, 131);
  padding: 20px 18px;
  cursor: pointer;
}
.alert .close-exclamation-btn{
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: #f75e5e;
  padding: 20px 18px;
  cursor: pointer;
}
.alert .close-btn:hover{
  background: rgb(109, 197, 109)
}
.alert .close-exclamation-btn:hover{
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: rgb(141, 3, 3);
  padding: 20px 18px;
  cursor: pointer;
}
.alert .close-btn .fas{
  color: black;
  font-size: 22px;
  line-height: 40px;
}
